h1{
  text-transform: uppercase;
  color: rgb(10,209,199);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  font-size: 2.3em;

}

p input{
  margin-right: 10px;
  margin-top: 4px;
}

p p {
  display: flex;
  align-items: center;
}